/*
* @Author: ASUS
* @Date:   2018-02-06 09:00:29
* @Last Modified by:   ASUS
* @Last Modified time: 2018-02-24 18:41:25
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
body,html{
	width: 100%;
	/* overflow: hidden; */
	font-family: "苹方","San Francisco Display"
}
/* 顶部导航开始 */
.topTab{
	width: 100%;
	height: 1.6rem;
	background: -webkit-linear-gradient(left,#805df7,#ab5bfe);
	/* 固定定位：相对于窗口去定位 */
	position: fixed;
	top: 0;
	left: 0;
	/* 层级：定位中才会遇到 */
	/* z-index: 10; */
}
.topTab .position{
	width: 1.29rem;
	height: 0.45rem;
	float: left;
	text-align: center;
	font-size: 0.36rem;
	line-height: 0.88rem;
	color: #fff;
}
.topTab .searchBox{
	width: 5.18rem;
	height: 0.45rem;
	border-radius: 0.25rem;
	border: 0.02rem solid #fff;
	margin-top: 0.24rem;
	float: left;
	padding-left: 0.3rem;
	box-sizing: border-box;
	font-size: 0.2rem;
	color: #845ffc;
	/* background-size: 0.9rem 0.9rem; */
	background-image: url('../img/img1/sousuo2x.png');
	background-position: 4.5rem 0.1rem;
	/* margin-right: 0.6rem; */
	background-repeat: no-repeat;
	margin-bottom: 0.67rem;
}

.topTab .mes{
	width: 0.88rem;
	height: 0.9rem;
	/* background: pink; */
	float: left;
	margin-left: 6.6rem;
	background-image: url('../img/img1/saoma2x.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: -1.33rem;
	margin-bottom: 0.67rem;
}
/* 顶部导航结束 */

/* banner开始 */
.banner{
	width: 7.02rem;
	height: 4rem;
	background: #f6f6f6;
	/* border-radius: 0.1rem; */
	background-image: url('../img/img1/banner.png');
	background-size: cover;
	background-position: center;
	/* background-repeat: no-repeat; */
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0.95rem;
	padding: 0.33rem 0.2rem 0.42rem;
	box-sizing: border-box;
}
/* banner结束 */
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: -18px;
    left: 0;
    width: 100%;
}
/* .swiper-container .banner .swiper-pagination{
	bottom: -18px;
    left: 0;
    width: 100%;
} */
/* 新人有礼开始 */
.xinren{
	width: 7.02rem;
	height: 1.97rem;
	background: #f6f6f6;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 5.24rem;
	padding: 0.33rem 0.2rem 0.42rem;
	box-sizing: border-box;
}
.xinren .xin{
	width: 2.34rem;
	height: 1.97rem;
	/* background: #fff; */
	position: absolute;
	float: left;
}
.xinren .xin1{
	/* background: blue; */
	/* position: absolute;
	float: left; */
	top: 0;
	left: 0;
}
.xinren .xin2{
	/* background: black; */
	/* position: absolute;
	float: left; */
	top: 0;
	left: 2.34rem;
}
.xinren .xin3{
	/* background: red; */
	/* position: absolute;
	float: left; */
	top: 0;
	left: 4.68rem;
}
.xinren .xin .tu{
	width: 1rem;
	height: 1rem;
	background-image: url('../img/img1/xinrenyouli2x.png');
	background-size: cover;
	background-position: center;
	position: absolute;
	margin-top: 0.25rem;
	margin-left: 0.65rem;
	float: left;
}
.xinren .xin2 .tu{
	background-image: url('../img/img1/jingxuanhaowu2x.png');
}
.xinren .xin3 .tu{
	background-image: url('../img/img1/zhekoujuan2x.png');
}
.xinren .xin a{
	display: block;
	font-size: 0.24rem;
	color: #2a2e36;
	/* text-align: center; */
	margin-left: 0.7rem;
	margin-top: 1.4rem;
}
/* 新人有礼结束 */

/* 广告1开始 */
.guanggao{
	width: 7.02rem;
	height: 3.16rem;
	/* background: #f6f6f6; */
	background-image: url('../img/img1/guanggao2x.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
	top: 5.1rem;
	padding: 0.33rem 0.2rem 0.42rem;
	box-sizing: border-box;
}
/* 广告1结束 */

/* 广告2开始 */
.shepin{
	width: 7.02rem;
	height: 3.16rem;
	background-image: url('../img/img1/shepin2x.png');
	background-size: 105%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
	top: 4.6rem;
	padding: 0.33rem 0.2rem 0.42rem;
	box-sizing: border-box;
}
/* 广告2结束 */
/* 标题开始 */
.biaoti{
	width: 2.36rem;
	height: 0.56rem;
	/* background: pink; */
	margin-top: 4.4rem;
	margin-left: 2.5rem;
}
.biaoti .rexiao{
	font-size: 0.28rem;
	color: #2a2e36;
	text-align: center;
}
.biaoti .sell{
	font-size: 0.24rem;
	color: #2a2e36;
	text-align: center;
}
.biaoti .juxing{
	width: 0.22rem;
	height: 0.03rem;
	background: #ab5bfe;
	float: left;
	margin-top: -0.5rem;
	margin-left: 0.2rem;
}
.biaoti .juxing1{
	width: 0.22rem;
	height: 0.03rem;
	background: #ab5bfe;
	float: left;
	margin-top: -0.5rem;
	margin-left: 1.97rem;
}
/* 标题结束 */
/* 推荐开始 */
.tuijian{
	width: 7.02rem;
	height: auto;
	/* overflow: hidden; */
	/* background: yellow; */
	/* z-index: 1; */
	margin-bottom: 0.98rem;
	margin-left: 0.04rem;
	margin-top: 0.4rem;
}
.tuijian .left{
	width: 3.51rem;
	height: auto;
	overflow: hidden;
	/* background: blue; */
	float: left;
	margin-left: 0.22rem;
	margin-bottom: 0.98rem;
}

.tuijian .right{
	width: 3.51rem;
	height: auto;
	overflow: hidden;
	/* background: blue; */
	float: left;
	margin-left: 0.11rem;
	margin-right: -3.96rem;
	margin-bottom: 0.98rem;

}
.tuijian .left .box{
	width: 3.39rem;
	height: 3.6rem;
	background: #f6f6f6;
	margin-bottom: 0.19rem;
	/* margin-left: 0.24rem;
	margin-right: 0.12rem; */
}
.tuijian .right .box{
	width: 3.39rem;
	height: 3.6rem;
	background: #f6f6f6;
	margin-bottom: 0.19rem;
	/* margin-left: 0.24rem;
	margin-right: 0.12rem; */
}

.tuijian .left .box .zi{
	width: 2.49rem;
	height: 0.83rem;
	/* background: pink; */
	margin-left: 0.45rem;
	margin-top: -0.2rem;
	/* z-index: 1; */
}
.tuijian .left .box .zi .ying{
	font-size: 0.2rem;
	color: #845df8;
	text-align: center;
}
.tuijian .left .box .zi .zhong{
	font-size: 0.24rem;
	color: #2a2e36;
	text-align: center;
}
.tuijian .left .box .zi .jiage{
	font-size: 0.24rem;
	color: #845df8;
	text-align: center;
}
.tuijian .left .box img{
	width: 1.7rem;
	height: 2.3rem;
	background-size: ;
	background-position: center;
	margin-top: 0.12rem;
	margin-left: 0.9rem;
}
.tuijian .right .box .zi{
	width: 2.49rem;
	height: 0.83rem;
	/* background: pink; */
	margin-left: 0.45rem;
	margin-top: -0.2rem;
	/* z-index: 1; */
}
.tuijian .right .box .zi .ying{
	font-size: 0.2rem;
	color: #845df8;
	text-align: center;
}
.tuijian .right .box .zi .zhong{
	font-size: 0.24rem;
	color: #2a2e36;
	text-align: center;
}
.tuijian .right .box .zi .jiage{
	font-size: 0.24rem;
	color: #845df8;
	text-align: center;
}
.tuijian .right .box img{
	width: 1.7rem;
	height: 2.3rem;
	background-size: ;
	background-position: center;
	margin-top: 0.12rem;
	margin-left: 0.9rem;
}

/* 推荐结束 */
/* 底部开始 */
.tab{
	width: 7.5rem;
	height: 0.98rem;
	background: #f6f6f6;	
	margin-left: -0.06rem;
	margin-top: 12rem;
	position: fixed;
	bottom: 0;
	left: 0.06rem;
}
.tab .list{
	display: block;
	width: 1.5rem;
	height: 100%;
	/* background: #fff; */
	float: left;
	box-sizing: border-box;
}
/* .tab .list:nth-child(1){
	background: blue;
}*/
.tab .list .icon{
	width: 1.45rem;
	height: 1.45rem;
	margin-top: -0.4rem;
}
.tab .list .icon1{
	background-image: url('../img/img1/shouye2x.png');
	background-size: 1rem 1rem;
	background-position: center;
	background-repeat: no-repeat;
}
.tab .list .icon2{
	background-image: url('../img/img1/fenlei2x.png');
	background-size: 1rem 1rem;
	background-position: center;
	background-repeat: no-repeat;
}
.tab .list .icon3{
	background-image: url('../img/img1/sirendingzhi2x.png');
	background-size: 1rem 1rem;
	background-position: center;
	background-repeat: no-repeat;
}
.tab .list .icon4{
	background-image: url('../img/img1/gouwuche2x.png');
	background-size: 1rem 1rem;
	background-position: center;
	background-repeat: no-repeat;
}
.tab .list .icon5{
	background-image: url('../img/img1/wode2x.png');
	background-size: 1rem 1rem;
	background-position: center;
	background-repeat: no-repeat;
}
.tab .list .wenzi{
	width: 1.45rem;
	height: 1.45rem;
	/* margin-top: -0.4rem; */
	font-size: 0.2rem;
	color: #8f5cf9;
	text-align: center;
	/* line-height: 0.98rem; */
	margin-top: -0.4rem;
}
/* 底部结束 